html,
body {
  height: 100%;
}

html {
	font-size: 10px;
}
body {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
}



/* Прижать футер */
.page {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	.content {
		flex: 1 0 auto;
	}
	.footer {
		flex: 0 0 auto;
	}
}
h1 {
	font-family: Montserrat Alternates;
	font-weight: bold;
	font-size: 5.4rem;
	line-height: 130%;
	color: #FFFFFF;
}
h2 {
	font-family: 'Montserrat Alternates', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 3.6rem;
	line-height: 130%;
	color: #000867;
}
section {
	padding-bottom: 60px;
}
.description__short {
	font-size: 1.8rem;
	line-height: 115%;
	color: #04183D;
}
p {
	font-size: 1.6rem;
	line-height: 130%;
	color: #000000;
	a {
		font-weight: 600;
		font-size: 16px;
		line-height: 130%;
		text-transform: uppercase;
		color: #338BFF;
	}
}
@media (max-width: 991px) {
	h1 {
		font-size: 3rem;
	 	text-align: center;
	}
}