.form {
	.checkbox { display: none; }
	.checkbox__label {
		cursor: pointer;
		display: inline-block;
		width: 20px;
		height: 20px;
		background: none;
		border: 1px solid #000;
		border-radius: 4px;
		margin-right: 6px;
		position: relative;
		padding: 2px;
	}
	.checkbox:checked + .checkbox__label:before { 
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 70%;
		height: 70%;
		content: "";
		background: url("../img/checked.svg") no-repeat;
	}
	.form__info {
		font-family: "Montserrat";
		font-style: normal;
		font-weight: normal;
		font-size: 1.2rem;
		line-height: 115%;
		color: #000000;
		text-transform: none;
		text-decoration: underline;
		&.active {
			color: #000867;
		}
	}
	p.form__info {
		padding-top: 2px;
		font-size: 1.2rem;
		line-height: 14pt;
		text-decoration: none;
	}
}
@media (max-width: 981.99px) {
		
	flex-direction: column;
}
a {
	font-size: 1.4rem;
	line-height: 130%;
	color: #000000;
	&:hover {
		text-decoration: none;
		color: #000;
	}
}
input {
	background: #F4F4F4;
	border: none;
	border-radius: 0;
	padding: 10px 20px;
	font-size: 1.4rem;
	color: #8B8B8B;
	width: 100%;
	background: #A5D9FF;
	/* Drop Shadow */

	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
	border-radius: 100px;
	&:focus{
		outline: none;
	}
	&::-webkit-input-placeholder {
		color: #8B8B8B;
	} 
	&::-moz-placeholder {
		color: #8B8B8B;
	}
}
textarea {
	background: #F4F4F4;
	border: none;
	border-radius: 0;
	padding: 18px 20px;
	font-size: 1.4rem;
	color: #8B8B8B;
	width: 100%;
	&:focus{
		outline: none;
	}
	&::-webkit-input-placeholder {
		color: #8B8B8B;
	} 
	&::-moz-placeholder {
		color: #8B8B8B;
	}
}
