$color: #2194E0;

.btn {
	background: linear-gradient(89.98deg, #3E4DFF 1.61%, #83FFFF 139.11%);
	border: none;
	box-sizing: border-box;
	border-radius: 100px;
	font-weight: 600;
	font-size: 1.8rem;
	line-height: 115%;
	padding: 15px 0;
	color: #FFFFFF;
	width: 200px;
	display: flex;
	justify-content: center;
	text-align: center;
	transition: all 1s;
	background-size: 200% 200%;
	&.btn_border_white {
		border: 2px solid #E7E7E7;
	}
	&:hover {
	}
	&.btn__flare {
		transition: all 0.2s ease-in-out;
		position: relative;
		overflow: hidden;
		&:before {
			content: "";
			background-color: rgba(255,255,255,0.5);
			height: 100%;
			width: 3em;
			display: block;
			position: absolute;
			top: 0;
			left: -4.5em;
			transform: skewX(-45deg) translateX(0);
			transition: none;
		}
		&:hover {
			color: #fff;
			&:before {
				transform: skewX(-45deg) translateX(20.5em);
				transition: all 0.5s ease-in-out;
			}
		}
	}
	&.btn__flare_infinite {
		transition: all 0.2s ease-in-out;
		position: relative;
		overflow: hidden;
		&:hover {
			color: #fff;
		}
		&:before {
			content: "";
			background-color: rgba(255,255,255,0.5);
			height: 100%;
			width: 3em;
			display: block;
			position: absolute;
			top: 0;
			left: -4.5em;
			transform: skewX(-45deg) ;
			animation: sheen 1s infinite;

		}
		&.active {
			&:before {
		    	left: 110%;
				transition: all 0.5s ease-in-out;
			}
		}

	}	
}

.btn_calc {
	cursor: pointer;
	font-family: "Montserrat";
	width: 270px;
	display: flex;
	text-align: center;
	justify-content: center;
	margin-bottom: 12px;
	padding: 10px 20px;
	background: #DCECFF;
	border-radius: 100px;
	font-size: 1.6rem;
	line-height: 130%;
	color: #000000;
	border: none;	
	input {
		display: none;
	}
	&.active {
		background-color: #A5D9FF;

	}
}
.btn_to_top {
	z-index: 4;
	position: fixed;
	bottom: 10%;
	right: -20%;
	cursor: pointer;
	transition: right 0.5s;
	&.active {
		right: 2%;
		transition: right 0.5s;
	}
	.btn_to_top_content {
		width: 50px;
		height: 50px;
		background-color: #a5d9ff;
		border-radius: 100%;
	}
	.btn_to_top_text {
		padding-top: 1rem;
		display: block;
		text-align: center;
		font-size: 1.2rem;
		text-transform: uppercase;
		font-weight: bold;
		color: #C2C2C2;
		letter-spacing: 0px;
	}
	.card_item_arrow {
		transform: rotate(180deg);
		z-index: 10;
		width: 20px;
		height: 20px;
		fill: #fff;
	}
}






