.footer {
	background: #04183D;
	.footer__logo {
		width: 30%;
		img {
			width: 140px;
		}
		span {
			font-weight: bold;
			font-size: 2.5rem;
			line-height: 31px;
			color: #FFFFFF;
		}
		@media (max-width: 991px) {
			width: 100%;
			padding: 0 15px;
			img {
				width: 100px;
			}
			span {
				font-size: 1.8rem!important;
				line-height: 20px!important;
			}
		}
	}
	.social {
		width: 42%;
		@media (max-width: 991px) {
			width: 100%;
			padding: 40px 0;
		}
	}	
	.deksis {
		width: 26%;
		@media (max-width: 991px) {
			width: 100%;
			justify-content: center!important;
		}
	}
}