/* INCLUD SASS */
@import "reset/_reset.scss";
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "default/_default.scss";
@import "library/_flipclock.css";
@import "slick/_slick-theme.scss";
@import "slick/_slick.scss";
@import "library/_animate.css";
@import "library/_jquery.fancybox.min.css";

@import 'header/_header.scss';
@import "button/_button.scss";
@import "form/_form.scss";
@import "modalWindow/_modal.scss";
@import "calc/_calc.scss";
@import "footer/_footer.scss";


.welcome {
	background: url("../img/welcome.jpg") no-repeat;
	background-size: cover;
	height: 900px;
	background-position: center center;	
	position: relative;
	.cloud {
		position: absolute;
		height: 400px;
		width: 100%;
		bottom: -170px; 
		background: url("../img/cloud.png") repeat-x;

	}
	p {
		font-weight: 500;
		font-size: 2.4rem;
		line-height: 115%;
		color: #FFFFFF;
		@media (max-width: 991px) {
			font-size: 1.6rem;
			text-align: center;
			padding: 20px 0!important;
			margin: 0;
		}
	}
	@media (max-width: 991px) {
		padding-top: 160px;
		height: 827px;
	}
}

@keyframes move {
	0% { background-position: 100% center; }
	50% { background-position: 50% center; }
	100% {background-position: 100% center; }
}

.fix {
	padding-top: 60px;
	
}
.fix_second {
	h3 {
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 600;
		font-size: 2.4rem;
		line-height: 130%;
		color: #04183D;
		padding-bottom: 24px; 
	}

	
}
.fix__third {
	img {
		width: 100%;
		max-width: 370px;
	}
}
.fix__price {
	font-weight: 600;
	font-size: 2.4rem;
	line-height: 150%;
	color: #04183D;
}
.fix_sec {
	p {
		font-weight: 600;
		font-size: 1.6rem;
		line-height: 150%;
		text-align: center;
		color: #61A5FF;
	}
	@media (max-width: 991px) {
		order: 1;
	}
}
.fix_fir {
	@media (max-width: 991px) {
		order: 2;
	}
}
.fix__item {
	background: #FFFFFF;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.07);
	border-radius: 15px;
	height: 100%;
	.fix__header {
		font-family: Montserrat Alternates;
		font-style: normal;
		font-weight: 600;
		font-size: 1.8rem;
		line-height: 110%;
		text-align: center;
		color: #04183D;
	}
	li {
		font-size: 1.8rem;
		line-height: 115%;
		color: #000000;
		padding-left: 20px;
		position: relative;
		text-align: left;
		padding-bottom: 16px;
		&:after {
			position: absolute;
			display: block;
			content: "";
			width: 15px;
			height: 15px;
			background: #F4F4F4;
			border-radius: 50%;
			left: 0px;
			top: calc(50% - 15.5px);
		}
	}
}

.advantages {
	padding-top: 60px;
	.advantages__wrap {
		background: #A5D9FF;
		border: 5px solid #FFFFFF;
		box-sizing: border-box;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
		border-radius: 15px;
		animation: advantagesAnimation 2s infinite;
	}
	.advantages__item {
		padding: 50px 0;
		
		p {
			font-family: "Montserrat Alternates";
			font-style: normal;
			font-weight: 600;
			font-size: 1.8rem;
			line-height: 150%;
			text-align: center;
			color: #FFFFFF;
		}		
	}
	@media (max-width: 991px){
		padding-bottom: 0;
		padding-top: 0;
	}
}
.free {
	background: url("../img/Group8.png") no-repeat;
	background-size: cover;
	height: 800px;
	background-position: center center;
	input {
		background: #FFFFFF;
		box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
		border-radius: 100px;
		width: 370px;
		display: block;
		@media (max-width: 991px){
			width: auto;
		}
	}
	position: relative;
	.free__img {
		position: absolute;
		left: 0%;
		top: 10%;
		&.free__pero {
			left: 0;
			top: 60%;
		}
		&.free__pero_2 {
			left: unset;
			right: 8%;
			top: 50%;
		}
		@media (min-width: 1599px) {
			display: block!important;
		}
	}
	@media (max-width: 991px) {
		padding-bottom: 0;
		height: 700px;
	}
}


.works {
	position: relative;
	.slide {
	  height: 100%;
	}
	.sldier_arrow_next{
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 30px;
		height: 30px;
		right: -50px;
		top: calc(50% - 15px);
		transform: rotate(-180deg);
		border-radius: 50%;
		cursor: pointer;
		z-index: 99;
		svg {
			&.card_item_arrow {
				fill: #fff;
			}
		}
		@media (max-width: 981.98px) {
			top: calc(50% - 15px);
			right: -10px;
		}
	}
	.sldier_arrow_prev{
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 30px;
		height: 30px;
		left: -50px;
		top: calc(50% - 15px);
		cursor: pointer;
		z-index: 99;
		svg {
			&.card_item_arrow {
				fill: #fff;
			}
		}
		border-radius: 50%;
		@media (max-width: 981.98px) {
			top: calc(50% - 15px);
			left: -13px;
		}
	}
	.slick-disabled { 
		display: none;
		cursor: unset!important; }
	.slider__item {
		overflow: hidden;
		background-color: #fff;
		p {
			font-size: 1.4rem;
			color: #676767;
			line-height: 24px;
		}
		.slider__content {
			height: 130px;
			img {
				width: 30px;
			}
		}
	}
}
.calc__preview {
	position: relative;
	img {
		display: block;
		&.over {
			position: absolute;
			top: 0; left: 0;
			right: 0; bottom: 0;
			max-width: 470px;
			@media (max-width: 991px) {
				max-width: 100%;
				right: unset;
			}
		}
	}
}
.step__item {
	p {
		font-family: "Montserrat Alternates";
		font-style: normal;
		font-weight: 600;
		font-size: 1.8rem;
		line-height: 150%;
		color: #04183D;
		padding-left: 6px;
	}
	@media (max-width: 991px) {
		&:nth-child(even) {
			img {
				order: 1;
			}
			p {
				text-align: right;
				padding-right: 12px;
			}
		}
	}
}
.deksis {
	span {
		font-size: 1.8rem;
		line-height: 150%;
		color: #FFFFFF;
	}
}