header {
	position: fixed;
	top: 0; right: 0; left: 0;
	z-index: 100;
	transition: all 0.5s;
	z-index: 100;
	.nav-item {
		margin: 0 1rem;
		.nav-link {
			font-weight: 500;
			font-size: 1.8rem;
			line-height: 130%;
			color: #FFF!important;
			&:hover {
				
			}
		}		
	}
	&.header__color {
		transition: all 0.5s;
		background: rgba(255, 255, 255, .98);
		.nav-item {
			.nav-link {
				color: #000!important;
			}
		}
		.header__phone {
			color: #000;
		}
		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
		.btn_border_white {
			border: 2px solid #000;
		}
		.navbar-brand {
			span {
				color: #000;
			}
		}

		svg {
			&.burger {
				rect {
					fill: #000;
				}
			}
		}
		.header__phone {
			&:hover {
				color: #000;
			}
		}	
	}
	.header__phone {
		font-weight: 600;
		font-size: 20px;
		line-height: 115%;
		color: #FFFFFF;
		&:hover {
			color: #fff;
		}
	}
	.navbar-brand {
		span {
			font-family: "Montserrat";
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;

			color: #FFFFFF;
		}
	}
	.navbar-toggler  {
		border: unset!important;
		&:focus {
			outline: unset;
		}
	}
	@media (max-width: 991px) {
		.navbar-collapse {
			order: 1;
		}
	}

}